.details-container {
  margin: 20px;
  padding: 20px;
}

.details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  background-color: #f0f0f0;
  padding: 20px;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-body {
  padding: 20px;
}

.item-website {
  font-size: 16px;
  margin-bottom: 10px;
}

.logo-placeholder {
  width: 100px; 
  height: 100px; 
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #169f9f;
  
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0e7e7e; 
}
